html {
  padding: 0 !important;
  margin: 0 !important;
  font-family: sans-serif;
  scroll-behavior: smooth;
}

/* STARTING MAIN CSS */

.main {
  min-height: 100vh;
  background: url(../assets/main-bg.jpg);
  background-size: cover;
}
.navbar {
  width: 100%;
  height: 90px;
  background-color: #0f0f0f !important;
  color: #ffffff;
  opacity: 0.5;
}

.navbar a {
  color: #ffffff !important;
}

a.navbar-brand.logo {
  /* margin-right: 142px !important; */
  /* margin-left: 100px !important; */
  letter-spacing: 0.1em !important;
  margin: 30px 142px 30px 100px;
}

ul.navbar-nav.mr-auto.right {
  margin: 0 !important;
}

a.nav-link {
  padding: 30px !important;
  font-size: 12px;
}

.text {
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #f1f1f1;
}

.text .h1 {
  font-size: 72px;
  line-height: 82px;
  padding-bottom: 20px;
}

.btn-main {
  display: flex;
  justify-content: center;
  margin-bottom: 150px;
}

.btn-main button {
  width: 260px;
  height: 60px;
  border-radius: 4px;
}

.the-story {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.the-story p {
  color: #f1f1f1;
  font-size: 12px;
}

.the-story .image {
  display: flex;
  justify-content: center;
}
.the-story img {
  width: 20px;
  height: 8px;
}

/* END MAIN CSS */

/* START GAME CSS */

.game {
  min-height: 100vh;
  background: url(../assets/the-games-bg.jpg);
  background-size: cover;
}

.box-flex {
  display: flex;
  justify-content: center;
  padding-top: 280px;
  flex-wrap: wrap;
}
.game-container {
  height: 500px;
  width: 850px;
}

/* END GAME CSS */

/* START CHARA CSS */

.chara {
  min-height: 100vh;
  background: url(../assets/features.jpg);
  background-size: cover;
}

.container {
  width: 100%;
  height: 50vh;
  padding-top: 200px;
}

.text-chara {
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.text-chara h2 {
  font-size: 56px;
  letter-spacing: 3px;
}

.list-wrapper {
  position: relative;
}
.list-item-wrapper {
  margin-top: 10px;
  position: relative;
}
.list-bullet {
  float: left;
  margin-right: 20px;
  border: 3px solid white;
  height: 15px;
  width: 15px;
  line-height: 30px;
  border-radius: 100px;
  font-weight: 400;
  color: white;
  text-align: center;
}

.white {
  background-color: white;
}
.list-item {
  display: table-row;
  vertical-align: middle;
}
.list-title {
  font-weight: 700;
  font-size: 24px;
  color: #ffb548;
}
.list-text {
  font-weight: 400;
  color: white;
}
.line {
  background: white;
  /* z-index: 1; */
  width: 2px;
  height: 48%;
  position: absolute;
  left: 7px;
}
.white-line {
  background: #fff;
  z-index: -1;
  top: 0px;
  width: 1px;
  height: 100%;
  position: absolute;
  left: 15px;
}

/* END CHARA CSS */

/* START REQUIRE CSS */

.require {
  min-height: 100vh;
  background: url("../assets/requirements.png");
  background-size: cover;
}

.text-span {
  width: 100%;
  text-align: center;
  height: 10vh;
  display: flex;
  align-items: flex-end;
}
span {
  width: 100%;
  color: white;
  text-align: center;
}

.content-require {
  padding-top: 100px;
  padding-left: 100px;
}

.text-require {
  color: white;
  padding-bottom: 50px;
  padding-top: 50px;
}

.row {
  width: 50%;
  /* border: 2px solid white; */
}

.col {
  border: 1px solid white;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.col h4 {
  font-size: 24px;
  letter-spacing: 2px;
  color: #ffb548;
}

.col p {
  font-size: 18px;
}
/* END REQUIRE CSS */

/* START TOP-SCORE CSS */

.scores {
  min-height: 100vh;
  background: url(../assets/closeback.png);
  background-size: cover;
}

.content {
  display: flex;
  align-content: center;
  min-height: 100vh;
}
.blank {
  width: 10%;
}

.top-score {
  width: 40%;
  align-self: center;
}

.text-score {
  color: white;
}

.text-score h2 {
  font-size: 56px;
  letter-spacing: 3px;
}

.text-score p {
  font-size: 18px;
  line-height: 22px;
}

.button button {
  width: 260px;
  height: 60px;
  border-radius: 4px;
  background: linear-gradient(
    194.68deg,
    #ffb548 11.27%,
    #f3af34 90.4%
  ) !important;
}

.testimony {
  width: 50%;
  align-self: center;
}

.box-card {
  width: 450px;
  height: 180px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 10px;
  margin: 20px;
}

.odd {
  margin-left: 70px;
}

.id {
  display: flex;
}
.image-people {
  padding: 15px;
  width: min-content;
  width: 20%;
}

.box-card img {
  width: 64px;
  height: 64px;
  border-radius: 50%;
}

.name {
  padding: 15px;
  width: 70%;
}

.name h3 {
  font-size: 24px;
  color: #ffb548;
  line-height: 27px;
}
.name h4 {
  font-size: 18px;
  color: #ffffff;
  line-height: 22px;
  opacity: 0.5;
}

.twit {
  /* width: 10%; */
  padding: 20px;
  padding-right: 25px;
}

.twit img {
  width: 20px;
  height: 18px;
}

.msg {
  display: flex;
}

.testy {
  padding: 15px;
  color: white;
}

.testy h4 {
  font-size: 18px;
}

.testy span {
  font-size: 12px;
  color: #ffffff;
  opacity: 0.5;
}
/* END TOP-SCORE CSS */

/* START CLOSING CSS */

.closing {
  min-height: 100vh;
  background: url(../assets/closingback.png);
  background-size: cover;
}

.closing-content {
  display: flex;
  min-height: 80vh;
}

.image-closing {
  align-self: center;
  padding-left: 150px;
  padding-top: 50px;
  width: 40%;
}

.image-closing img {
  width: 445px;
  height: 690px;
}

.closing-text {
  width: 60%;
  align-self: center;
  color: white;
}

.closing-text h3 {
  font-size: 24px;
  letter-spacing: 2px;
}

.closing-text h1 {
  font-size: 65px;
  line-height: 74px;
  letter-spacing: 3px;
}

.closing-text p {
  font-size: 18px;
  line-height: 22px;
}

.form-flex {
  display: flex;
}

input#exampleDropdownFormEmail1 {
  /* width: 360px;
  height: 60px; */
  border: none;
  background: transparent;
}

.box-form {
  width: 370px;
  height: 70px;
  background: rgba(255, 255, 255, 0.08);
  border-radius: 5px;
  margin: 0;
  padding-left: 15px;
}

.form-group label {
  font-size: 14px;
  color: #ffffff;
  opacity: 0.5;
}

.form-group input {
  padding: 0;
  font-size: 18px;
  color: #ffb548;
}

.button-content {
  padding-left: 15px;
}
.button-content button {
  width: 260px;
  height: 70px;
}

footer {
  background: #080a0b !important;
}

.nav a {
  color: white;
}

.social {
  padding-top: 20px;
}
.social a {
  padding: 30px;
}

/* END CLOSING CSS */
